.friendspage-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid var(--link-hover-color);
  border-radius: 10px;
  margin: 10px 0px;
  background-color: var(--primary-color);
  /* opacity: 0.95; */
}
.friendspage-list-item-info {
  width: 40%;
  color: #f8f9fa;
  display: flex;
  gap: 5px;
  align-items: center;
}
.friendspage-list-item-name {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  /* text-align: center; */
}
.friendspage-list-item-info img {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}
.share-score-btn {
  background-color: var(--link-hover-color);
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
