.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
}

.header-logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
}
