.road-map-header {
  background-color: var(--primary-color);
  color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}
.road-map-card-header {
  border-bottom: 3px solid var(--link-hover-color);
  margin-bottom: 5px;
}
.road-map-card {
  background-color: var(--primary-color);
  color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 20px;
}
.road-map-card-list {
  padding: 0 20px 0 20px;
}
